.auth__popupListener {
  position: absolute;
  top: -100px;
  left: -100%;
  z-index: 100;
  width: 300%;
  height: calc(100% + 150px);
  opacity: 0.2;
  background-color: #000000;
}

.course__pictureContainer {
  position: relative;
}

.course__title {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #ffffff;
  font-weight: 500;
  font-style: Medium;
  font-size: 60px;
  line-height: 110%;
  letter-spacing: 0px;
}

.auxiliary__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.fitting__container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, auto);
  gap: 17px;
}

.fitting__item {
  width: fit-content;
  height: 141px;
  display: flex;
  align-items: center;
  border-radius: 28px;
  gap: 25px;
  padding: 20px;
  border: none;
  background: linear-gradient(115.81deg, #151720 34.98%, #1e212e 91.5%);
}

.fitting__itemText {
  max-width: 323px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.directions__container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;

  width: 100%;
  border-radius: 28px;
  padding: 30px;
  background: #bcec30;
}

.directions__item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0px;
}

.addingCourse__container {
  position: relative;
  width: 100%;
  height: 588px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;
}

.addingCourse__textContainer {
  width: 100%;
  height: 488px;
  background: #ffffff;
  border-radius: 30px;
}

.addingCourse__textWrapper {
  max-width: 440px;
  margin: 40px;
  position: relative;
  z-index: 50;
}

.addingCourse__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.addingCourse__textContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 178px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.addingCourse__textContent li {
  opacity: 0.6;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.addingCourse__btn {
  width: 100%;
  height: 52px;
  border-radius: 46px;
  padding: 16px;
  border: none;
  background: #bcec30;
  cursor: pointer;

  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
}

.addingCourse__btn:hover {
  background-color: #c6ff00;
}

.addingCourse__btn_inactive {
  background-color: #f7f7f7;
}

.addingCourse__btn_inactive:hover {
  background-color: #f7f7f7;
}

.addingCourse__picture {
  position: absolute;
  width: 680px;
  height: 588px;
  right: 0;
}

.addingCourse__sportsman {
  position: absolute;
  z-index: 75;
  right: 30px;
  bottom: 30px;
}

.addingCourse__vector {
  position: absolute;
  z-index: 25;
  bottom: -40px;
}

.addingCourse__shoulderVector {
  position: absolute;
  z-index: 50;
  top: 130px;
  right: 378px;
}
