.workoutSelection__popupListener,
.confirmPopup__popupListener {
  position: absolute;
  top: -50px;
  left: -50%;
  z-index: 50;
  width: 200%;
  height: calc(100% + 50px);
  opacity: 0.2;
  background-color: #000000;
}

.confirmPopup__container {
  position: absolute;
  top: calc((50% - 150px));
  z-index: 100;
  left: calc((100% - 360px) / 2);

  width: 426px;
  max-height: 596px;

  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
}

.confirmPopup__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 34px;
}

.confirmPopup__svgContainer {
  display: flex;
  justify-content: space-around;
}

.profile__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: 0px;
  margin-bottom: 40px;
}

.profile__title:last-of-type {
  margin-top: 60px;
}

.profile__container {
  width: 100%;
  display: flex;
  gap: 33px;
  height: 257px;
  border-radius: 30px;
  background: #ffffff;
  padding: 30px;

  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
}

.profile__info {
  height: 181px;
  display: flex;
  flex-direction: column;
}

.profile__username {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0px;
}

.profile__login {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
  margin-top: 30px;
  margin-bottom: 44px;
}

.profile__logoutBtn {
  width: 192px;
  height: 52px;
  border-radius: 46px;
  padding: 16px;
  border: 1px solid #000000;

  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;

  cursor: pointer;
}

.courses__container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.courses__message {
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0px;
}

.courses__anchorBtn_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 376px) {
    display: none;
  }
}

.courses__anchorBtn {
  width: 127px;
  height: 52px;
  margin-top: 24px;
  margin-bottom: 29px;
  padding: 16px;
  border: none;
  border-radius: 46px;
  background-color: #bcec30;

  text-align: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
}
