.course {
  width: 360px;
  height: 501px;
  border-radius: 30px;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);
  background: rgba(255, 255, 255, 1);
}

.course__pictureContainer {
  position: relative;
}

.add__icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.course__infoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 30px 15px 30px;
}

.course__title {
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0px;
}

.course__infoWrapper {
  width: 300px;
  height: 82px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
}

.course__infoDesign {
  width: fit-content;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  padding: 10px;
  border-radius: 50px;
  background: rgba(247, 247, 247, 1);
}

.difficulty__container {
  width: 20px;
  height: 14px;
  display: flex;
  align-items: flex-end;
}
