.workout__page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workoutProgress__popupListener {
  position: absolute;
  z-index: 100;
  top: -200px;
  left: calc((var(--container-width) / 2) - 50vw);
  width: 100vw;
  height: calc(150vh + 200px);
  opacity: 0.2;
  background-color: #000000;
}

.course__title {
  align-self: flex-start;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0px;

  @media screen and (max-width: 760px) {
    font-size: 24px;
    line-height: 110%;
  }
}

.workout__video {
  width: 100%;
  height: 639px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: none;
  border-radius: 30px;

  @media screen and (max-width: 760px) {
    width: 710px;
    height: 391px;
    margin-top: 24px;
    margin-bottom: 24px;
    border-radius: 19px;
  }

  @media screen and (max-width: 710px) {
    width: 343px;
    height: 189px;
    border-radius: 9px;
  }
}

.workout__fallback_container {
  margin-bottom: 40px;

  @media screen and (max-width: 760px) {
    margin-bottom: 24px;
  }
}

.workout__fallback_title {
  margin-bottom: 10px;
}

.workout__fallback_title,
.workout__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: 0px;
}

.workout__fallback_message,
.workout__fallback_link,
.workout__progressQuantity,
.workout__withoutProgress {
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
}

.workout__fallback_link {
  text-decoration: underline;
  cursor: pointer;
}

.workouts__container_center {
  display: flex;
  justify-content: center;
}

.workouts__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);

  @media screen and (max-width: 760px) {
    width: 343px;
    padding: 30px;
  }
}

.workout__title {
  font-size: 32px;
}

.workouts__wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;

  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;

  @media screen and (max-width: 760px) {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.workout__progressContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workout__withoutProgress {
  grid-row: span 3;
  grid-column: span 2;
}

.workouts__progressBtn {
  width: 320px;
  height: 52px;
  padding: 16px;
  border: none;
  border-radius: 46px;
  background-color: #bcec30;
  transition: 0.2s;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
  cursor: pointer;

  @media screen and (max-width: 760px) {
    width: 100%;
  }
}

@media (hover: hover) {
  .workouts__progressBtn:hover {
    background-color: #c6ff00;
  }
}

.workouts__progressBtn:active {
  color: #ffffff;
  background-color: #000000;
}
