.workoutSelection__container {
  position: fixed;
  z-index: 200;
  top: calc((50% - 150px));
  left: calc((100% - 460px) / 2);

  display: flex;
  flex-direction: column;
  width: 460px;
  max-height: 609px;
  padding: 40px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.13);

  @media screen and (max-width: 760px) {
    top: calc((50% - 200px));
    left: calc((100% - 343px) / 2);
    width: 343px;
    padding: 30px;
  }
}

.workoutSelection__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0px;
}

.workoutSelection__workoutsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 48px;
  margin-bottom: 34px;
  overflow-y: auto;

  @media screen and (max-width: 760px) {
    margin-top: 34px;
    padding-right: 20px;
  }
}

.workoutSelection__workoutsContainer::-webkit-scrollbar {
  width: 6px;
}

.workoutSelection__workoutsContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f7f7f7;
}

.workoutSelection__workoutsContainer::-webkit-scrollbar-thumb {
  min-height: 116px;
  border-radius: 10px;
  border: none;
  background-color: #000000;

  @media screen and (max-width: 760px) {
    min-height: 80px;
  }
}

.workoutSelection__workoutItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 54px;
}

.workoutItem__input {
  position: relative;
  appearance: none;
  opacity: 0;
  width: 20px;
  height: 20px;
}

.workoutItem__label {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.workoutItem__label::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #000000;
  background-color: transparent;
}

.workoutItem__input:checked + .workoutItem__label::after {
  content: '';
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #bcec30;
}

.workoutItem__label_completedWorkout::before {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #bcec30;
  background-color: #bcec30;
}

.workoutItem__label_completedWorkout::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 7px;
  width: 4px;
  height: 8px;
  transform: rotate(45deg) skewX(5deg);
  border-width: 0 2px 2px 0;
  border-color: #ffffff;
  border-style: solid;
}

.workoutItem__input:checked + .workoutItem__label_completedWorkout::before {
  border-color: #000000;
  background-color: transparent;
}

.workoutItem__input:checked + .workoutItem__label_completedWorkout::after {
  border: none;
  transform: none;
}

.workoutItem__infoContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workoutItem__title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0px;

  @media screen and (max-width: 760px) {
    font-size: 18px;
  }
}

.workoutItem__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0px;

  @media screen and (max-width: 760px) {
    font-size: 14px;
  }
}

.workoutSelection__workoutItem_demarcationLine {
  margin-top: 10px;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.workoutSelection__btnSendData {
  width: 100%;
  height: 52px;
  padding: 16px;
  border: none;
  border-radius: 46px;
  background-color: #bcec30;
  transition: 0.2s;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  letter-spacing: 0px;
  cursor: pointer;
}

@media (hover: hover) {
  .workoutSelection__btnSendData:hover {
    background-color: #c6ff00;
  }
}

.workoutSelection__btnSendData:active {
  color: #ffffff;
  background-color: #000000;
}

.workoutSelection__btnSendData_inactive {
  color: #999999;
  background-color: #f7f7f7;
}

.workoutSelection__btnSendData_inactive:hover {
  color: #999999;
  background-color: #f7f7f7;
}

.workoutSelection__btnSendData_inactive:active {
  color: #999999;
  background-color: #f7f7f7;
}
